@use './components/variaveis';

.clipboard-download {
    h2 {
        color: variaveis.$cor-de-titulos;
        padding-bottom: 1rem;
    }
    p {
        color: variaveis.$cor-de-textos;
        margin: auto;
        width: 45%;
        line-height: 1.8rem;
    }
    h2, p {
        text-align: center;
    }
    .cabecalho__botoes {
        display: flex;
        justify-content: center;
        gap: 1rem;
        .botao-ios {
            background-color: variaveis.$cor-botao-primario;
        }
        .botao-mac {
            background-color: variaveis.$cor-botao-secundario;
        }
        .botao-ios, .botao-mac {
            padding: 1em;
            border: none;
            width: 160px;
            border-radius: 36px;
            margin-top: 2rem;
            color: white;
        }
    }
    
}