@use './components/variaveis';
@use './components/mixins';

footer {
    background-color: hsla(202, 11%, 66%, 0.13);
    nav {
        @include mixins.df-fl-cent;
        justify-content: space-evenly;
        margin-top: 100px;
        padding: 2rem 0;
        .rodape-img {
            img {
                width: 50px;
                height: 50px;
            }
        }
        .rodape-links {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            column-gap: 5rem;
            row-gap: 0.5rem;
            a {
                text-decoration: none;
                color: variaveis.$cor-de-titulos;
            }
            a:hover {
                color: variaveis.$cor-botao-primario;
            }
        }
        .rodape-logo {
            @include mixins.df-fl-cent;
            gap: 2rem;
        }
    }
}