// Variaveis
    //cor de texto
    $cor-de-titulos: hsl(210, 10%, 33%);
    $cor-de-textos: hsl(201, 11%, 66%);
    //cor de botões
    $cor-botao-primario: hsl(171, 66%, 44%);
    $cor-botao-secundario: hsl(233, 100%, 69%);
    //tipo de fonte
    $fonte-principal: "Bai Jamjuree", sans-serif;